body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f7f7f7;
  display: grid;
  justify-items: center;
  gap: 4rem;
  margin: 0px;
  margin-top: 2rem;
}

h1,
h2,
h3,
p {
  margin: 0rem;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.25rem;
  line-height: 1.3;
}

header {
  display: grid;
  gap: 4rem;
  justify-items: center;
}

.introducao h1 {
  font-size: 2rem;
}

ul {
  list-style: none;
  margin: 0rem;
  padding: 0rem;
}

main {
  position: relative;
}

.introducao::before {
  content: "";
  background-color: red;
  height: 4px;
  width: 64px;
  position: absolute;
  top: 30px;
  right: -30px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.25rem;
}

.menu a {
  color: black;
  background-color: white;
  border-radius: 4px;
  padding: 1rem 2rem;
  text-transform: uppercase;
  border: 2px solid transparent;
  gap: 2rem;
  display: inline-block;
}

.menu a:hover {
  border: 2px solid #900;
}

.conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
}

.introducao {
  background-color: white;
  display: grid;
  text-align: right;
  align-content: center;
  justify-items: right;
  gap: 1.25rem;
  padding: 2.5rem;
  position: relative;
}

.botao {
  color: white;
  background-color: #e21;
  padding: 1rem 2rem;
  border-radius: 4px;
  text-transform: uppercase;
}

.botao:hover {
  background-color: #900;
}

.bike img {
  height: 100%;
  object-fit: cover;
}

.subtitulo {
  font-size: 4rem;
  text-align: right;
  text-transform: uppercase;
  align-self: center;
  color: #c6c6c6;
  padding: 2.5rem;
  background-image: url("./img/onda.svg");
  /* word-break: break-all; */
}

.vantagens {
  background-color: white;
  padding: 2.5rem;
}

.vantagens-item {
  display: grid;
  grid-template-columns: auto 1fr;
  margin: 1.25rem;
  gap: 10px 20px;
  padding: 1rem;
  border-left: 4px solid transparent;
}

.vantagens-item p {
  grid-column: 2;
}

.vantagens-item:hover {
  border-left: 4px solid #900;
}

.vantagens-item:nth-child(odd) {
  background-color: #f7f7f7;
}

.rodape {
  background-color: white;
  width: 100%;
  text-align: center;
  padding: 2.5rem;
  box-sizing: border-box;
}

@media (max-width: 1000px) {

  body {
    gap: 2rem;
    margin-top: 1rem;
    margin: 1rem;
  }

  header {
    gap: 2rem;
  }

  .conteudo-vantagens {
    display: grid;
    grid-template-columns: 1fr;
  }

  .subtitulo {
    text-align: center;
  }

  .vantagens {
    padding: 1.25rem;
  }
}

@media (max-width: 650px) {

  .conteudo {
    display: grid;
    grid-template-columns: 1fr;
  }

  .introducao {
    justify-items: left;
    text-align: left;
  }

  .introducao::before {
    display: none;
  }

  .subtitulo {
    font-size: 3rem;
  }

}
@media (max-width: 400px) {

  .subtitulo {
    font-size: 2rem;
  }

  p{
    font-size: 1rem;
  }

  .introducao h1{
    font-size: 1.5rem;
  }

  h3{
    font-size: 1rem;
  }

}
